        html,*{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            scroll-behavior: smooth;
        }
        main{
            width: 1200px;
            height: auto;
            margin: 0 auto;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows:120px 300px 400px 500px 500px 100px ;
            gap: 10px;
            position: relative;
            top: 60px;
            z-index: 0
        }
        #header, #banner, #about, #services, #gallery, #footer{
            background-color: #999;
            display: grid;
            place-items: center;
        }
        nav{
            width: 100%;
            height: 50px;
            background-color: #CCC;
            position: fixed;
            z-index: 1

        }
        nav ul{
            list-style: none;
            display: flex;
            justify-content: space-around;
            line-height: 50px;
        }
        nav ul a{
            text-decoration: none;
            color: #000;
        }
        nav ul a:hover{
            color: #F04;
        }