* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* NAVBAR */
.navbar {
    background-color: #131921;
    color: white;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.logo span {
    color: orange;
}

/* SEARCH */
.search-box {
    display: flex;
    width: 40%;
}

.search-box input {
    width: 100%;
    padding: 8px;
    border: none;
}

.search-box button {
    padding: 8px 15px;
    background: orange;
    border: none;
    cursor: pointer;
}

/* NAV LINKS */
.nav-links p {
    display: inline-block;
    margin-left: 15px;
    cursor: pointer;
}

/* CATEGORY BAR */
.category-bar {
    background: #232f3e;
    padding: 10px;
}

.category-bar a {
    color: white;
    margin-right: 15px;
    text-decoration: none;
    font-size: 14px;
}

/* HERO */
.hero {
    background: #f3f3f3;
    padding: 50px;
    text-align: center;
}

.hero h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

/* PRODUCTS */
.products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 30px;
    background: #eaeaea;
}

.product-card {
    background: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

.product-card button {
    margin-top: 10px;
    padding: 8px 12px;
    background: orange;
    border: none;
    cursor: pointer;
}

/* FOOTER */
footer {
    background: #131921;
    color: white;
    text-align: center;
    padding: 15px;
}
