body {
    background-color: black;
}
h1{
    font-family: arial;
    font-size: 30px;
    font-weight: 700;
    font-style: italic;
    text-align: center;
    text-decoration: underline;
    text-transform: capitalize;
    text-shadow: 5px 0px 0px grey;
    color: white;
}
p{
    font-family: arial;
    font-size: 30px;
    font-weight: 700;
    font-style: italic;
    text-align: center;
    text-decoration: underline;
    text-transform: capitalize;
    text-shadow: 5px 0px 0px grey;
    color: white;
    display: inline-block;
}
img{
    border: 2px solid lightblue;
    /* border radius: 50%; */
    float: left;
    margin-right: 20px;
    padding: 3px;
    display: inline;


}