body {
font-size: 14px;
color: #ffffff;
margin: 5px 0 10px 0;
}


.price {
    text-align: center;
font-size: 18px;
color: rgb(0, 255, 0);
font-weight: bold;
}


.old-price {
    text-align: center;
font-size: 14px;
color: #ffffff;
text-decoration: line-through;
margin-left: 10px;
}


.btn {
margin-top: 15px;
width: 100%;
padding: 12px;
border: none;
background-color: #007bff;
color: white;
font-size: 16px;
border-radius: 5px;
cursor: pointer;
}


.btn:hover {
background-color: #ffffff;
}

.center-img {
    display: block;
    margin: 0 auto;
    max-width: 250px; /* Adjust size as you like */
    height: auto;
}

h1{
    font-family: arial;
    font-size: 30px;
    font-weight: 700;
    font-style: italic;
    text-align: center;
    text-decoration: underline;
    text-transform: capitalize;
    text-shadow: 5px 0px 0px grey;
    color: white;
}

body {
    background-color: rgb(0, 0, 0);
}